<h1 class="Header">This Game Rocks! </h1>
<div >
<div style="display: inline-block;float: left; padding-left: 3%">
    <h2 class="instructionTitle">Game Instructions: </h2>
    <ul >
        <li class="instructionList">
            The goal of the game is to move the rocks to the buttom level of the <br>
            graph ( purple nodes). The last player to move is the winner.
        </li>
        <li class="instructionList">
            You will take turns against computer moving one rock in each turn.
        </li>
        <li class="instructionList">
            To move a rock, click on the node that has the rock, then click on the <br>
            node you want the rock to move to.
        </li>
        <li class="instructionList">
            To change the node you chose,click on the same node again.
        </li>

        <li class="instructionList">
            You can only move a rock  to its neighboring nodes.
        </li>
    </ul>

    <button type="button"  onClick="window.location.reload()" class="btn btn-success">Play Again</button>

</div>
<div  style="text-align: center; " >

<canvas #canvasEl width=700 height=700></canvas>
</div>
    <div style="margin-bottom: 0">
        Made By Shahed AlMashni And Mohammad Abu Aboud
    </div>
</div>